<div class="wrapper">
  <h1>
    {{ title }}
  </h1>
  <button class="clear" (click)="clear()">Clear Trip Details</button>
  <form [formGroup]="form" (ngSubmit)="addJourney()">
    <div class="inputs">
      <label for="sp">Starting Point</label>
      <input
        type="text"
        name="startingPoint"
        id="startingPoint"
        formControlName="startingPoint"
      />
      <label for="sp">End Point</label>
      <input
        type="text"
        name="endingPoint"
        id="endingPoint"
        formControlName="endingPoint"
      />
    </div>
    <button [disabled]="!form.valid" type="submit">Add Trip</button>
  </form>
</div>

<div class="trip" id="trip">
  @for(trip of data; track $index){
  <div class="block" id="block" [class.level1]="trip.level === Level.L1">
    <div class="dot" [attr.data-arrow]="trip.isArrow"></div>
    <ts-journey [trip]="trip.trip"></ts-journey>
  </div>
  }
  <svg class="connections" id="svg">
    <defs>
      <marker
        id="arrowhead"
        markerWidth="5"
        markerHeight="10"
        refX="8"
        refY="3"
        orient="auto"
        markerUnits="strokeWidth"
      >
        <polygon points="0,0 6,3, 0,6" fill="black" />
      </marker>
    </defs>
  </svg>
</div>
